$section-bg: #2c1e1e;

.nav-section {
    background-color: $section-bg;
    border-radius: 15px;
    margin-left: 1em !important;
    margin-right: 1em !important;
}

/* removes the dropdown carrot from the navbar */
#collasible-nav-dropdown::after {
    display: none;
}

/* 992 matches the 'lg' bootstrap breakpoint */
@media only screen and (min-width: 992px) {
    .sm-icons {
        right: 2em;
        position: absolute;
    }
}

@media only screen and (max-width: 992px) {
    .sm-icons {
        flex-direction: row !important;
        padding-left: 0.5em !important;
    }
}
