$total: 130; // total particles
$orb-size: 200px;
$particle-size: 3px;
$time: 8s; 
$base-hue: 350; // change for diff colors (180 is nice)

// body {
//   background-color: #221f1f;
//   min-height: 80vh; // brings it top of center by 10vh (logo is adjusted same amount)
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
//   overflow: hidden;
// }

.logo {
  height: 100px;
  width: auto;
}

.wrap {
  position: relative;
  top: 50%;
  left: 50%;
  width: 0; 
  height: 0; 
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: rotate $time infinite; // rotate orb
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.c {
  position: absolute;
  width: $particle-size;
  height: $particle-size;
  border-radius: 50%;
  opacity: 0; 
}

@for $i from 1 through $total {
  $z: (random(360) * 1deg); // random angle to rotateZ
  $y: (random(360) * 1deg); // random to rotateX
  $hue: ((20/$total * $i) + $base-hue); // set hue
  
  .c:nth-child(#{$i}){ // grab the nth particle
    animation: orbit#{$i} $time;
    animation-delay: ($i * .006s); 
    background-color: hsla($hue, 100%, 50%, 1);
  }

  @keyframes orbit#{$i}{ 
    10% {
      opacity: 1; // fade in
    }
    45% {
      transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // form orb
    }
    90% {
      transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // hold orb state
      opacity: 1; // hold opacity
    }
    100% {
       transform: rotateZ(-$z) rotateY($y) translateX( ($orb-size * 3) ) rotateZ($z); // translateX * 3 to expand outward
    }
  }
}

.logo {
  margin: 0;
  position: absolute;
  top: calc(50% - 10vh); // adjusted to match overall container position
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadeIn $time*2 linear forwards;
  opacity: 0;
  z-index: -75;
  width: max(70px, 6vw);
  height: auto;
}
  
@keyframes fadeIn { 
  30% {
    opacity: 0;
  }
  48% {
    opacity: 1;
    top: calc(50% - 10vh);
  }
  60% {
    opacity: 0;
    top: 7%;
  }
}
